<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
</head>
<body>
  <div class="container">
    <h1>My Movies</h1>
    <main class="main">
        <div class="search">
            <label for="searchbox"></label>
            <input type="search" name="searchbox" id="searchbox" class="searchbox">
            <button class="btn primary-btn search-btn">SEARCH</button><br>
            <button class="btn primary-btn load-saved-movies">Load the movies from my list</button>
        </div>
        <div class="search-results-container cards-container">

        </div>
    </main>
  </div>

  <script src="static/scripts/movies.js"></script>
</body>
</html>